PROJECT_ID=project_id
LOCATION=location
GCP_DOC_AI_LOCATION=doc_ai_location
GCP_DOC_AI_PROCESSOR_ID=processor_id

TABLE_MODE=fast
DO_TABLES=false
DO_OCR=false
GENERATE_IMAGES=false
IMAGES_SCALE=2.0
PDF_CHUNK_THRESHOLD_PAGES=150
PDF_CHUNK_SIZE_PAGES=75
MAX_PAGE_PER_PARSE=20
MAX_UPLOAD_BYTES=100_000_00